<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filtrado por:</div>
      <div class='col-md-4'>
        <input type='text'
               [(ngModel)]='listFilter' />
      </div>
    </div>
    <div class='row'
         *ngIf='listFilter'>
      <div class='col-md-6'>
        <h4>Filtrado por: {{listFilter}}</h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='sensores && sensores.length'>
        <thead>
          <tr>            
            <th>Região</th>
            <th>Total</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let sensor of filteredSensores'>            
            <td>{{ sensor.region }}</td>
            <td>{{ sensor.total }}</td>            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>